*{
    margin:0;
    padding:0;
}

header{
  background-color:orange;
  height:70px;
  width:100vw;
}
nav{
    height:100px;
    width:100vw;
    border: 1px solid black;
    padding:8px;
    color:green;
    
    
}

#logo{
    height:40px;
    width:40px;
    border:6px solid black;
    border-radius: 30px;
}

#pic{
  height:600px;
  width:700px;
}